body {
    margin:0px;
    background-color: #E1E6EA;
    font-family:'Roboto' , arial;
}

.heading {
    color:white;
    font-size:10px;
    padding:0px 0px 0px 10px;
    font-family:Montserrat;
    font-weight: bold;
}

.codes {
    width:50px;
    color:#2AC6C6;
    animation:codes 5s linear infinite;
    
    display:inline-block;
}

@keyframes codes {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(5deg);
    }

    10% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(-5deg);
    }

    20% {
        transform: rotate(0deg);
    }
}

.headingtxt {
    position:absolute;
    top:20px;
    margin:10px 100px 0px 10px;
    color:#788B9F;
    font-size:10px;
    font-family:Montserrat;
    font-weight: bold;
}

nav {
    font-family:Montserrat;
    font-weight: bold;
    color:#788B9F;
 }

 .nav {
     position:absolute;
     
 }
.home {
    top:20px;
    left:40%;
    display:none;
}

.label {
    top:20px;
    left:50%;
    display: none;
}

.follow {
    top:20px;
    left:60%;
    display: none;
}

#nightcheckbox {
    display:none;
}

.nightmode {
    position:fixed;
    top:33px;
    left:80%;
    width:20px;
    height:30px;
    z-index:1;
}

.nightimg {
    width:100%;
}

.nighttxt {
    font-size: 5px;
    position: absolute;
    top:15px;
    left:4px;
    color:#b8b8b8;
        text-shadow:1px 1px black;
}

}

#nightcheckbox:checked ~ .content {
    color:grey;
    background-color: black;
}

#nightcheckbox:checked ~ aside {
    color:grey;
    background-color: black;
}



.web {
    
    
    
    
}

.head {
    width:100%;
    height:80px;
    background-color: #313C50;
    position: fixed;
    z-index:1;
    
}

.headback {
    width:100%;
    height:80px;
}

.content {
    width:100%;
    background-color: transparent;
    display:flex;
    flex-wrap: wrap;
    padding:10px 0px 0px 0px;
    justify-content: center;
    justify-items: left;
    color: green;
    z-index:0;
    
}

.blog {
    width:100%;
    height:200px;
    background-color: white;
    box-align: center;
    margin:5px 5px 5px 5px;
    display: flex;
    flex-wrap: wrap;
    
    
    
    
}

.postimg {
    width:70%;
    height:50%;
}

.title {
    font-size:15px;
    position: relative;
    top:-15px;
    color:black;
    font-family:Montserrat;
    font-weight: 100;
    
}


.stats {
    width:30%;
    height:50%;
    background-color: #313C50;
}



aside {
    width:30%;
    height:400px;
    position:absolute;
    top:100px;
    left:70%;
    display:none;
    background-color:inherit;
    z-index:0;
}

.footer {
    width:100%;
    height:180px;
    background-color: #4c21d8;
}


/*small tab*/
@media only screen and (min-width:400px){
    .content {
        width:100%;
}

.blog {
    width:47%;
}


}



/*large tab*/
@media only screen and (min-width:700px){
    .content {
        width:60%;
    }

    .blog {
        width:45%;
    }

    aside {
        display:block;
        width:40%;
        left:60%;
    }

    .heading {
        color:white;
        font-size:20px;
        padding:0px 0px 0px 10px;
    }

    .headingtxt {
        position:absolute;
        top:50px;
        padding:0px 80px 0px 20px;
        color:#788B9F;
        font-size:10px;
    }

    .home {
        display:inline-block;
        left:40%;
    }

    .label {
        display:inline-block;
        left:52%;
    }

    .follow {
        display:inline-block;
        left:65%;
    }
}

@media only screen and (min-width:960px) {
    .content {
        width:70%;
    }

    .blog {
        width:30%;
    }

    aside {
        display: block;
        width:30%;
    position:absolute;
    top:100px;
    left:70%;
    }

    .heading {
        font-size:25px;
        padding:0px 0px 0px 10px;
    }

    .headingtxt {
        position:absolute;
        top:50px;
        padding:0px 0px 0px 0px;
        color:#788B9F;
        font-size:15px;
    }

    .nightmode {
        top:15px;
        left:90%;
        width:40px;
        height:40px;
    }

    .nighttxt {
        top:27px;
        font-size: 10px;
        
    }

    .home {
        display:inline-block;
    }
    
    .label {
        display: inline-block;
    }
    
    .follow {
        display: inline-block;
    }
}




